/node_modules
/public/hot
/public/storage
/public/templates
/public/books
/public/css/dev
/public/css/book
/public/css/message
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
