.categories {
    background-color: #fdfdfd;
    height: 100vh;
    padding: 120px 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @media screen and (max-width:968px) {
      height: auto;
      padding: 80px 20px;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;

        @media screen and (max-width:968px) {
            grid-template-columns: repeat(1, 1fr);
            gap: 20px;
        }
    }
}