// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$font-family-header: 'Poppins', sans-serif;

// colors
$color-primary: #8E59CF;
$color-dark: #303030;
