// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import './base/typography';

@import './components/btn';
@import './components/auth-card';
@import './components/stats-card';
@import './components/book-card';

@import './pages/welcome';
@import './pages/book-content';
@import './pages/mybooks';
@import './pages/book-create-steps/book-create';
@import './pages/billing/billing-plans';
@import './pages/billing/billing-payment';

@import './pages/verify-card';





.table {
    &__item {
       height: 80px;
       display: flex;
       align-items: center;
    }
}


.add_msg_cta_bar {
    border-bottom: 1px solid rgba(201, 201, 201, 0.222);
    padding: 0 30px 10px 30px;
}