.auth-card {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    width: 100%;

    &__container {
        height: 83vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__header {
        font-size: 20px;
        color: $color-dark;
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    &__socials {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 5px 20px;
    }
}

.btn__socials {
    margin-left: 0 !important;
}