.dos {
    padding: 120px 80px;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;

    @media screen and (max-width:600px) {
        padding: 80px 20px;
    }

    &__container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 60%;
        text-align: center;

        @media screen and (max-width:968px) {
            width: 100vw;
        }
    }


    &__content {
        // margin-top: 40px;
        width: 100%;
        display: flex;
        grid-gap: 20px;

        @media screen and (max-width:968px) {
            grid-template-columns: 90%;
        }


        &--ul {
            margin-bottom: 20px;
        }

        &--li {
            padding: 5px 10px;
            font-size: 18px;
        }

        &--section {
            flex-basis: 50%;
            width: 50%;

            @media screen and (max-width:968px) {
                flex-basis: 100%;
                width: 100%;
            }

            &--1 {
                flex-direction: column;
                align-items: flex-start;
                display: flex;
                align-items: center;
                justify-content: center;

            }

            &--2 {

                @media screen and (max-width:968px) {
                    display: none !important;
                    background-color: orangered !important;
                }
            }
        }

        &--img {
            display: block;
            height: 100%;
            width: auto;
        }
    }
}

.swipper {
    height: 50vh;
    overflow: hidden;
}

.swiper-img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100% !important;
    width: 100% !important;
    background: #ffffff;
}