.header {
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: stretch;
    background-color: #1C4086;
    // background: url('/images/new/celebration.gif');
    // background: linear-gradient(#000000d2, #000000e0, #00000063), url('/images/new/celebration.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @media screen and (max-width:1024px) {
        height: auto;
        padding: 80px 0;
    }

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        // width: 80%;
        width: 100%;

        // @media screen and (max-width:600px) {
        //     width: 95%;
        // }
    }

    &__title {
        // letter-spacing: 5px;
    }

    &__paragraph {
        margin-top: 30px;
        line-height: 160%;
        font-size: 26px;
        color: $color-light;
        text-align: center;

        @media screen and (max-width:600px) {
            margin-top: 10px;
            font-size: 16px;
        }
    }

    &__video-container {
        width: 100% !important;
        object-fit: cover;
    }

    &__video {
        width: 100% !important;
        height: auto;
    }

    &__btns {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        bottom: 160px;

        @media screen and (max-width:1024px) {
           bottom: -40px;
        }

        &--btn {
            margin: 0 20px;
        }

        &--learn {
            @media screen and (max-width:600px) {
                display: none;
            }
        }
    }


}

.particaljs {
    position: absolute;
    z-index: 100;
    left: 0;
    right: 0;
}