// colors
$body-color: #FFFFFF;
$color-primary: #DD9933;
$color-secondary: #4d6069;
$color-secondary-light: #F5F5F5;
$color-light: #c4c4c4;

// fonts
$font-family-heading: 'Great Vibes', cursive;
$font-family-body: 'Josefin Sans', sans-serif;
